# будет игнорироваться каталог tmp
# вне зависимости от того, в каком каталоге он находится
# слэш в конце указывает, что это каталог
tmp/

# будут игнорироваться все файлы Thumbs.db
# вне зависимости от того, в каком каталоге они находятся
Thumbs.db

# будут игнорироваться все файлы .DS_Store
# вне зависимости от того, в каком каталоге они находятся
.DS_Store

# будут игнорироваться все файлы заканчивающиеся суффиксами _old
# вне зависимости от того, в каком каталоге они находятся
_old

# будут игнорироваться все файлы заканчивающиеся суффиксами _backup
# вне зависимости от того, в каком каталоге они находятся
_backup

/tmp/

*Thumbs.db

*.DS_Store

*_backup

*DS_Store

*.png_backup

*.DS_Store

*.html_old